*{
    border: 2px solid red;
}
body{
    background-color: orange;
}

#content{
    text-align: center;
}

nav{
    border: black 2px solid;
    border-radius: 10px;
}

nav div{
    display: flex;
    justify-content: center;
}

button{
    list-style: none;
    text-align: center;
    width: 100px;
}

.image-container{
    padding: 10px;
   background-color: brown;
    text-align: center;
}

.home-image{
    width: 700px;
    height: 700px;
}