/* *{
    border: 2px solid red;
} */
body{
    background-color: orange;
}

#content{
    text-align: center;
}

nav{
    border: black 2px solid;
    border-radius: 10px;
}

nav div{
    display: flex;
    justify-content: center;
}

nav button {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #eee;
  border: none;
  border-radius: 5px;
}

nav button.active {
  background-color: #5a79d4; /* Highlight color */
  color: rgb(242, 239, 235);
   border: black 2px solid;
}

.image-container{
    padding: 10px;
   
    text-align: center;
}

.home-image{
    width: 700px;
    height: 700px;
}